<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <% include audit_header.ejs %>
  </head>
  <body class="nav-md">
  <div class="container body">
    <div class="main_container">
      <% include audit_common.ejs%>

      <div class="right_col" role="main">
        <div class="">

          <!-- title -->
          <div class="page-title">
            <div class="title_left">
              <h3>
                帐户信息
              </h3>
            </div>
            <div class="title_right">
              <h1>&nbsp;</h1>
            </div>
          </div>
          <!-- title -->

          <!-- content -->
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                  <h2></h2>
                  <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <form class="form-horizontal form-label-left" method="post">
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">用户名</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" class="form-control" placeholder="<%= profile.AccountName%>" disabled="disabled">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">用户实名</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" class="form-control" placeholder="<%= profile.ManagerName%>" disabled="disabled">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">注册时间</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" class="form-control" placeholder="<%= profile.RegisterDate%>" disabled="disabled">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">邮箱</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" class="form-control" placeholder="<%= profile.Email%>" disabled="disabled">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">联系电话</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" class="form-control" placeholder="<%= profile.Phone%>" disabled="disabled">
                        </div>
                      </div>

                    </form>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- content -->
        </div>
      </div>

      <% include audit_footer.ejs%>
    </div>
  </div>
  <% include audit_footjs.ejs %>
  </body>
</html>